#menu{
	width: 100%;
	height: 50px;
	background-color: #FFFFFF;
	position: fixed;
	margin-top: -50px;
}

#menu a{
	text-decoration: none;
	color: black;
}

#menu a:hover{
	border-top: #FFBF00 solid 3px;
}

#inputs{
	margin-left: 15px;
}

#pesquisar{
	width: 400px;
	display: inline;
}

#pesquisa{
	margin-left: 15px;
	border-radius: 5px;
	display: inline;
	padding: 8px;
	font-size: 14px;
	width: 250px;
	background: #F2F2F2;
}

#botaoPesquisa{
	margin-top: 5px;
	border-radius: 5px;
	display: inline;
	padding: 8px;
	background-color: #FFBF00;
	background-repeat: no-repeat;
	font-weight: 550;
}

.navegacao{
	float: right;
	padding: 10px;
	margin-right: 10px;
	font-weight: 600;
}