*{
	margin: 0px;
	padding: 0px;
	font-family: Gill Sans, sans-serif;
}

body{
	background-image: url('img/fundo.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}